$gold-color: #f1c532;
$blue-color: #002d5c;
// $dark-color: #2b2b2b;
$dark-color: #002d5c;
$cream-color: #fff3e0;

$font-primary: "Nunito Sans", sans-serif;
$font-secondary: Goldener;

$box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.44);
$transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);

.header {
    width: 100%;
    cursor: default;
    position: fixed;
    z-index: 9999;
    background: $cream-color;


    .content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            position: absolute;
            display: flex;
            top: 0;
            padding: .44rem;
            height: fit-content;
            align-items: center;
            background: $cream-color;
            justify-content: center;

            img {
                width: 6rem;
                height: auto;
            }
        }

        .nav {
            position: relative;

            ul {
                // gap: 1rem;
                display: flex;
                align-items: center;
                font-family: $font-primary;

                a {
                    font-weight: 600;
                    color: $blue-color;
                    font-size: 0.9rem;
                    padding: 1rem;
                    display: flex;
                    position: relative;
                    text-transform: uppercase;

                    &::before {
                        content: "";
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transform: scaley(0);
                        transition: $transition;
                        transform-origin: bottom;
                        background-color: $blue-color;
                    }

                    span {
                        position: relative;
                    }

                    &:hover {
                        color: $cream-color;
                        position: relative;

                        &::before {
                            transform: scaley(1);
                            transform-origin: bottom;
                        }
                    }

                    &.active {
                        color: $cream-color;
                        background: $blue-color;
                    }
                }
            }
        }

        .menu {
            position: relative;

            button {
                background: none;
                border: none;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 30px;
                height: 24px;
                padding: 0;
                z-index: 10;
                position: relative;

                span {
                    width: 100%;
                    height: 3px;
                    background-color: $blue-color; // or your desired color
                    border-radius: 5px;
                    transition: all 0.3s ease-in-out;
                }

                .bar1 {
                    transform-origin: top left;
                }

                .bar2 {
                    opacity: 1;
                    transition: opacity 0.3s ease-in-out;
                }

                .bar3 {
                    transform-origin: bottom left;
                }

                // When the menu is active, add transformations
                &.active .bar1 {
                    transform: rotate(45deg) translate(-2px, 2px);
                }

                &.active .bar2 {
                    opacity: 0;
                }

                &.active .bar3 {
                    transform: rotate(-45deg) translate(-5px, 1px);
                }
            }
        }
    }
}
