$gold-color: #f1c532;
$blue-color: #002d5c;
// $dark-color: #2b2b2b;
$dark-color: #002d5c;
$cream-color: #fff3e0;

$font-primary: "Nunito Sans", sans-serif;
$font-secondary: Goldener;

$box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.44);
$transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);

.homepage {
    width: 100%;
    position: relative;
    font-family: $font-primary;

    .hero {
        width: 100%;
        height: 100vh;
        position: relative;

        .hero-slider {
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            background: $dark-color;

            .slide {
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-size: cover;
                background-position: center;
                transition: $transition;

                &.active {
                    opacity: 1;
                }

                .overlay {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 80%;
                    position: absolute;
                    background: #2b2b2b;
                }

                .hero-text {
                    position: absolute;
                    top: 60%;
                    left: 10%;
                    z-index: 1;
                    text-align: left;
                    color: $cream-color;
                    transform: translateY(-60%);
                    font-family: $font-primary;

                    h1 {
                        font-size: 2.4rem;
                        margin-bottom: 1rem;
                        line-height: 1.2;
                        font-family: $font-secondary;

                        @media (max-width: 500px) {
                            font-size: 2rem;
                            margin-bottom: 0.1rem;
                        }
                    }

                    p {
                        font-size: 1.5rem;
                        margin-bottom: 2rem;
                        font-family: $font-primary;

                        @media (max-width: 500px) {
                            font-size: 1rem;
                            line-height: 1.3rem;
                        }
                    }

                    .btn {
                        font-weight: 600;
                        font-size: 1.2rem;
                        padding: 0.8rem 2rem;
                        border-color: $cream-color;

                        &::after,
                        &::before {
                            border-color: $cream-color;
                        }

                        &:hover {
                            background: $cream-color;
                            color: $blue-color;
                        }

                        @media (max-width: 500px) {
                            padding: 0.4rem 1rem;
                        }
                    }
                }
            }

            .navbtn {
                position: absolute;
                bottom: 20%;
                right: 10%;
                transform: translateY(20%);

                gap: 2rem;
                display: flex;
                align-items: center;

                button {
                    display: flex;
                    font-size: 1.5rem;
                    color: $cream-color;
                    background: transparent;

                    &:hover {
                        color: $gold-color;
                    }
                }

                @media (max-width: 400px) {
                    display: none;
                }
            }
        }
    }

    .service-area {
        background-color: $cream-color;
        padding: 3rem 0;

        .heading {
            padding: 1rem 0;
            grid: 1rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            h2 {
                font-weight: 800;
                color: $blue-color;
                font-family: $font-primary;
            }

            p {
                line-height: 1.2;
                font-size: 1rem;
                color: $blue-color;
            }
        }

        .carousel-wrapper {
            position: relative;

            .carousel {
                gap: 1rem;
                display: flex;
                overflow: hidden;
                transition: $transition;

                .single-service {
                    flex: 1 0 calc(100% / 3); // Default to show 3 items
                    width: 100%;
                    padding: 4rem 2rem 2rem 2rem;
                    position: relative;
                    background: white;
                    box-shadow: $box-shadow;
                    transition: $transition;
                    max-width: calc(100% / 3 - 1rem);

                    &:hover {
                        cursor: default;
                        box-shadow: 0 0 1px 0 $blue-color;
                    }

                    .service-number {
                        position: absolute;
                        top: 4rem;
                        right: 3rem;
                        font-size: 3rem;
                        font-weight: 900;
                        color: $cream-color;
                        text-shadow: 0 0 1px $dark-color;
                    }

                    .service-text {
                        margin-top: 6rem;

                        h3 {
                            font-family: $font-secondary;
                            color: $dark-color;
                            margin: 0.4rem 0;
                        }

                        p {
                            font-family: $font-primary;
                            font-size: 1rem;
                            color: $dark-color;
                            line-height: 1.5;
                        }
                    }

                    @media (max-width: 1024px) {
                        flex: 1 0 calc(100% / 2);
                        max-width: calc(100% / 2 - 1rem);
                    }

                    @media (max-width: 768px) {
                        flex: 1 0 100%;
                        max-width: 100%;
                    }
                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                margin-top: 10px;

                .circle {
                    width: 0.6rem;
                    height: 1rem;
                    margin: 0 5px;
                    cursor: default;
                    border-radius: 1rem;
                    background: white;
                    box-shadow: 0 0 1px 0 $dark-color;
                    transition: background $transition;

                    &.active {
                        background: $blue-color; // Active circle color
                    }
                }
            }
        }
    }

    

    .cta {
        width: 100%;
        padding: 3rem 0;
        position: relative;
        background: url(./../assets/images/hero/hero1.jpg) no-repeat center fixed;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($blue-color, 0.6);

            .box {
                background: $blue-color;
                opacity: 1;
                width: 23rem;
                height: 100%;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -10%;
                    width: 20%;
                    height: 100%;
                    transform: skewX(12deg);
                    background: $cream-color;
                }
            }

            @media (max-width: 800px) {
                background: $blue-color;

                .box {
                    display: none;
                }
            }
        }

        .content {
            display: grid;
            position: relative;
            align-items: center;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

            .left {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    max-width: 24rem;
                    height: auto;
                }
            }

            .right {
                width: 100%;
                height: 100%;
                display: inline;
                padding: 2rem;
                align-items: center;
                flex-direction: column;

                span {
                    opacity: 0.6;
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: $cream-color;
                    text-transform: uppercase;
                }

                h2 {
                    color: $cream-color;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }

                button {
                    font-weight: 900;
                    padding: 0.8rem 2rem;
                    border-color: $cream-color;

                    &::after,
                    &::before {
                        border-color: $cream-color;
                    }

                    &:hover {
                        color: $blue-color;

                        background: $cream-color;
                    }
                }
            }

            @media (max-width: 800px) {
                .left {
                    display: none;
                }
            }
        }
    }

    .gallery {
        padding: 3rem 0;
        background-color: $cream-color;

        .heading {
            gap: 2rem;
            display: grid;
            margin-bottom: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            h2 {
                font-family: $font-secondary;
                color: $blue-color;
                font-size: 1.5rem;
            }

            p {
                font-family: $font-primary;
                color: $dark-color;
                font-size: 1rem;
            }
        }

        .image-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-auto-flow: dense;
            gap: 1rem;

            .image-item {
                position: relative;
                width: 100%;
                height: 300px;
                overflow: hidden;
                border-radius: 1rem;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(
                        rgba($blue-color, 0.3),
                        rgba($blue-color, 0),
                        rgba($blue-color, 0),
                        rgba($blue-color, 0),
                        rgba($blue-color, 0.8)
                    );
                }

                &:hover {
                    border-radius: 50% 10% / 10% 50%;
                }
            }
        }

        .pagination {
            margin-top: 2rem;

            button {
                background-color: $blue-color;
                color: $cream-color;
                font-family: $font-primary;
                padding: 0.75rem 1.5rem;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                margin: 0 1rem;
                transition: background-color $transition;

                &:disabled {
                    background-color: darken($blue-color, 10%);
                    cursor: not-allowed;
                }

                &:hover:not(:disabled) {
                    background-color: lighten($blue-color, 10%);
                }
            }

            span {
                font-family: $font-primary;
                color: $dark-color;
                font-size: 1.1rem;
            }
        }

        // Modal Styles
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            padding: 1rem;
            justify-content: center;
            align-items: center;
            background: rgba($blue-color, 0.6);
            z-index: 1000;

            .modal-content {
                width: 100%;
                height: 100%;
                display: flex;
                position: relative;
                align-items: center;
                color: $blue-color;
                width: fit-content;
                max-width: 40rem;
                justify-content: center;
                overflow: hidden;

                .close-icon {
                    position: absolute;
                    bottom: 0;
                    right: 1rem;
                    padding: 0.6rem;
                    display: flex;
                    font-size: 1rem;
                    color: $cream-color;
                    background: $blue-color;
                }

                img {
                    height: 100%;
                    width: auto;
                    object-fit: contain;
                }

                .navigation {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    gap: 1rem;
                    display: flex;
                    padding: 0.6rem;
                    background: $cream-color;
                    border-radius: 3rem 3rem 0 0;
                    transform: translateX(-50%);

                    button {
                        display: flex;
                        padding: 1rem;
                        border-radius: 1rem;
                        box-shadow: $box-shadow;
                        color: $blue-color;
                        border: none;
                        outline: none;

                        &:hover {
                            background: $blue-color;
                            color: $gold-color;
                            box-shadow: none;
                        }
                    }

                    .arrow {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .destination {
        width: 100%;
        padding: 6rem 0;
        background: white;
        position: relative;

        .heading {
            gap: 2rem;
            display: grid;
            margin-bottom: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            h2 {
                font-family: $font-secondary;
                color: $blue-color;
                font-size: 1.5rem;
            }

            p {
                font-family: $font-primary;
                color: $dark-color;
                font-size: 1rem;
            }
        }

        .content {
            gap: 1.5rem;
            width: 100%;
            display: grid;
            position: relative;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .box {
                width: 100%;
                height: 300px;
                max-width: 350px;
                position: relative;
                border-radius: 1rem;
                background: $cream-color;
                margin-bottom: 3rem;

                .img {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 1rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .rate {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    gap: 0.3rem;
                    display: flex;
                    align-items: center;
                    padding: 0.1rem 0.6rem;
                    border-radius: 0.6rem;
                    background: $cream-color;

                    svg {
                        color: $gold-color;
                        // vertical-align: middle;
                    }
                }

                .detail {
                    position: absolute;
                    background: $cream-color;
                    width: 90%;
                    bottom: -20%;
                    left: 50%;
                    padding: 1rem;
                    border-radius: 1rem;
                    color: $blue-color;
                    transform: translateX(-50%);

                    h3 {
                        font-weight: 700;
                        font-size: 1.1rem;
                    }

                    p {
                        line-height: 1.1;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .about {
        width: 100%;
        padding: 3rem 0;
        position: relative;
        background: $cream-color;

        .heading {
            gap: 2rem;
            display: grid;
            margin-bottom: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            h2 {
                font-family: $font-secondary;
                color: $blue-color;
                font-size: 1.5rem;
            }

            p {
                font-family: $font-primary;
                color: $dark-color;
                font-size: 1rem;
            }
        }

        .content {
            width: 100%;
            padding: 4rem;
            position: relative;
            border: 1px dashed $blue-color;

            gap: 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

            .box {
                width: 100%;
                color: $blue-color;
                position: relative;
                padding: 2rem 2rem 2rem 6rem;
                border: 1px dotted $blue-color;

                .number {
                    position: absolute;
                    bottom: 2rem;
                    left: 1rem;
                    font-size: 4rem;
                    color: white;
                    transition: $transition;
                    text-shadow: 0 0 1px $gold-color;
                    font-family: $font-secondary;
                }

                &:hover {
                    border-style: solid;
                    background: white;
                }
            }

            @media (max-width: 500px) {
                padding: 1rem;
                grid-template-columns: 1fr;

                .box {
                    padding: 2rem;

                    .number {
                        position: relative;
                        font-size: 2rem;
                        top: 0;
                        left: 0;
                        opacity: 0.6;
                        text-shadow: none;
                        margin-bottom: 2rem;
                        color: $blue-color;
                    }
                }
            }

            @media (max-width: 450px) {
                .box {
                    max-width: 100%;
                }
            }
        }
    }
}
