:root {
  --gold-color: #f1c532;
  --blue-color: #002d5c;
  --cream-color: #fff3e0;
  --dark-color: #2b2b2b;

  --font-primary: "Nunito Sans", sans-serif;
  --font-secondary: Goldener;

  --box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.44);
  --transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

::-webkit-scrollbar {
  width: 0.1rem;
}

::-webkit-scrollbar-track {
  background: var(--cream-color);
}

::-webkit-scrollbar-thumb {
  background: var(--blue-color);
}

::selection {
  color: var(--cream-color);
  background: var(--blue-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  font-style: normal;
  color: var(--dark-color);
  transition: var(--transition);
  text-rendering: optimizeLegibility;
}

/* Global CSS */
img {
  max-width: 100%;
  height: auto;
}

a {
  font-size: 1rem;
  text-decoration: none;
  transition: var(--transition);
}

p {
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-weight: bold;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

/* REUSABLE CSS */

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.btn {
  color: var(--cream-color);
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: var(--blue-color);
  position: relative;
  display: inline-block;
  padding: 8px 15px;
  font-weight: 600;
  font-family: var(--font-primary);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn::before,
.btn::after {
  content: "";
  display: block;
  position: absolute;
  border-color: var(--blue-color);
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn::before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

.btn::after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

.btn:hover::before,
.btn:hover::after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: var(--blue-color);
}

.btn:hover {
  color: var(--cream-color);
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}

